{% extends "admin/index.html" %}
{% load utils %}
{% load i18n %}

{% block sidebar %}
    {{block.super}}
    <div class="app-sites module">
        <!--table>
            <caption>
                <a href="#" class="section" title="Models in the Sites application">{% trans "Report" %}</a>
            </caption>
            <tbody>
                {% if SETTINGS_ADMIN %}
                <tr class="model-site">
                    <th scope="row">
                        <a href="/report/credit" target="_blank">{% trans "Admin Transfer Credit Report" %}</a>
                    </th>
                    <td></td>
                </tr>
                <tr class="model-site">
                    <th scope="row">
                        <a href="/report/sales-report" target="_blank">{% trans "Sales Report" %}</a>
                    </th>
                    <td></td>
                </tr>
                <!--tr class="model-site">
                    <th scope="row">
                        <a href="/report/sales-report-more" target="_blank">{% trans "Sales Report Detail" %}</a>
                    </th>
                    <td></td>
                </tr-->
                <!--tr class="model-site">
                    <th scope="row">
                        <a href="/report/topuphistory" target="_blank">{% trans "Top Up History" %}</a>
                    </th>
                    <td></td>
                </tr>
                <tr class="model-site">
                    <th scope="row">
                        <a href="/report/xml-report" target="_blank">{% trans "Bet Report" %}</a>
                    </th>
                    <td></td>
                </tr>
                <tr class="model-site">
                    <th scope="row">
                        <a href="/download" target="_blank">{% trans "Download Installer" %}</a>
                    </th>
                    <td></td>
                </tr>
                <tr class="model-site">
                    <th scope="row">
                        <a href="/report/view_member_detail" target="_blank">{% trans "View Member Detail" %}</a>
                    </th>
                    <td></td>
                </tr>
                <tr class="model-site">
                    <th scope="row">
                        <a href="/report/win_lost_report" target="_blank">{% trans "Win Lost Report" %}</a>
                    </th>
                    <td></td>
                </tr>
                {% endif %}
            </tbody>
        </table-->

        <div style="height:30px; width:100%"></div>

        {% if request.user.is_superuser %}
        <table>
            <caption>
                <a href="#" class="section" title="Models in the Sites application">AdminSQL</a>
            </caption>
            <tbody>
                <tr class="model-site">
                    <th scope="row">
                        <a href="/report/admin-sql">AdminSQL</a>
                    </th>
                    <td></td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    </div>
{% endblock %}